<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ asset('bundles/espritprojetbi/dist/img/user2-160x160.jpg') }}" class="img-circle"
                     alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{ app.user.username }}</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="">
                <a href="{{ path('esprit_projetbi_dashboard_index') }}">
                    <i class="fa fa-dashboard"></i><span>Tableau de bord</span>
                    {#<span class="pull-right-container">#}
                      {#<i class="fa fa-angle-left pull-right"></i>#}
                    {#</span>#}
                </a>
                {#<ul class="treeview-menu">#}
                    {#<li><a href="#"><i class="fa fa-circle-o"></i>Réseau Ferré</a></li>#}
                    {#<li><a href="#"><i class="fa fa-circle-o"></i>Réseau surface</a></li>#}
                {#</ul>#}
            </li>

            <li class="header">Administration ETL</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>Réseau Ferré</span>
                            <span class="pull-right-container">
                              <i class="fa fa-angle-left pull-right"></i>
                            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('admin_ferre_validation_list') }}"><i class="fa fa-circle-o"></i>Validaton</a></li>
                    <li><a href="{{ path('admin_ferre_profile_list') }}"><i class="fa fa-circle-o"></i>Profil Horaire</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>Réseau Surface</span>
                            <span class="pull-right-container">
                              <i class="fa fa-angle-left pull-right"></i>
                            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('admin_surface_validation_list') }}"><i
                                    class="fa fa-circle-o"></i>Validaton</a></li>
                    <li><a href="{{ path('admin_surface_profile_list') }}"><i class="fa fa-circle-o"></i>Profil Horaire</a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
