{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/espritprojetbi/plugins/dropzone/dropzone.css')}}">
{% endblock stylesheets %}
{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('bundles/espritprojetbi/plugins/dropzone/fileinput.js')}}"></script>
    <!--[if !IE]><!-->
    <script src="{{ asset('bundles/espritprojetbi/plugins/dropzone/dropzone.js')}}"></script>
    <!--<![endif]-->
    <!--[if IE]>
    <script src="{{ asset('bundles/espritprojetbi/plugins/dropzone/jQuery-File-Upload-9.11.2/js/vendor/jquery.ui.widget.js')}}"></script>
    <script src="{{ asset('bundles/espritprojetbi/plugins/dropzone/jQuery-File-Upload-9.11.2/js/jquery.iframe-transport.js')}}"></script>
    <script src="{{ asset('bundles/espritprojetbi/plugins/dropzone/jQuery-File-Upload-9.11.2/js/jquery.fileupload.js')}}"></script>
    <![endif]-->

    <!--[if !IE]><!-->
    <script>

        $(document).ready(function(){
            Dropzone.options.dropzoneExample = {
                maxFilesize: {{max_file_size}}, // MB
                acceptedFiles: '{{accepted_file}}',
                dictFileTooBig: 'Taille grande',
                dictInvalidFileType: 'Fichier accepté'
            };
        });
    </script>
    <!--<![endif]-->

    <!--[if IE]>
    <script>

        $(document).ready(function(){
            $('#file').fileupload({
                forceIframeTransport: true,
                dataType: 'json',
                url: '{{path('admin_ferre_validation')}}',
                done: function ( e, data ) {
                    $( '#message' ).removeClass('hidden');
                    if( typeof data.result["error"] == 'undefined' )
                        $( '#message' ).html( '<div class="col-md-12"><div class="alert alert-success">Téléchargement terminé</div></div>' );
                    else
                    {
                        $( '#message' ).html( '<div class="col-md-12"><div class="alert alert-danger">'+data.result['error']+'</div></div>' );
                    }
                },
                progressall: function (e, data) {
                    $( '#message' ).html('<div class="col-md-12"><div class="alert alert-info">Téléchargement en cours...</div></div>');
                }
            });
        });
    </script>
    <![endif]-->
{% endblock javascripts %}

 {% block page_title %}
     <h1>Réseau de ferré<small></small></h1>
 {% endblock page_title %}


{% block breadcrumb %}
    <li><a href="{{ path('esprit_projetbi_dashboard_index') }}"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="">Ferré</li>
    <li class="active">Importer des validations</li>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <div class="" id="message"></div>
        <!-- general form elements -->

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Validations</h3>
            </div>

            <form action="{{path('admin_ferre_validation')}}" class="dropzone" id="dropzone_example" enctype="multipart/form-data">
                <div class="fallback">
                    <input id="file" name="file" type="file" />
                </div>
            </form>

        </div>
        <!-- /.box -->
    </div>
</div>

{% endblock content %}